
html {
    font-family: "Montserrat", sans-serif;
  }
.header {
    background-color: #f5ba13;
    margin: 0 -16px;
  padding: 5px 22px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }
.header h1{
    color: #ffffff;
    font-family: "McLaren", cursive;
    font-weight: 200;
}
body {
    background: #eee;
    padding: 0 16px;
    margin: 0;
  }

  .note {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 240px;
    margin: 16px;
    float: left;
  }

  .note h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
  }

  .note p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  .footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: fit-content;
    height: 2rem;
    left: 50%;
  }
  h3{
    margin: 0;
  }